
.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  /* font-style: normal; */
}

/* shared styles */

.display-flex{
    display: flex;
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary{
    background-color: #FF900E;
    padding: 20px 24px;
    font-size: 1.25rem;
    color: white;
    border: none;
    border-radius: 8px;
    margin-top: 30px;
    cursor: pointer;
}

main{
    max-width: 1260px;
    margin: 0 auto;
}

.section-heading{
    font-size: 2.8rem;
    font-weight: 700;
}

.section-details{
    font-size: 1rem;
    line-height: 26px;
    margin-top: 24px ;
    width: 530px;
}

/* dark-1 */
.text-black{
    color: #131313;
}

/* dark-2 */
.text-gray{
    color: #424242;
}

/* dark-3 */
.text-light-gray{
    color: #727272;
}
/* navbar related styles */

.brand{
    font-size: 2.8rem;
    font-weight: bold;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.nav-item{
    list-style: none;
}

.nav-link{
    text-decoration: none;
    margin-right: 30px;
}

.navbar, .banner{
    max-width: 1260px;
    margin: 0 auto;
}

/* banner related styles */

.banner-container{
    width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;

}

.banner-img{
    max-width: 1260px;
}

.banner-heading{
    font-size: 4rem;
    font-weight: 700;
}

.banner-details{
    font-size: 1rem;
    /* line-height: 26px; */
}

/* section teams related styles */

.teams{
    align-items: center;
    margin-top: 85px;
}
.img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-right: 70px;
}

.features{
    max-width: 530px;
}



#quick{
    font-weight: 500;
}

#feature{
    color: #FF900E;
}

/* f-love section related styles */

.f-love-section{
    margin-top: 130px;
    gap: 120px;
}

#f-love-heading{
    border-left: 5px solid #FF900E;
    padding-left: 24px;
}

.f-cards, .f-card-title{
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;

}

.f-cards{
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
}

#experience-badge{
    padding: 40px 42px;
    margin-left: -100px;
    margin-top: -100px;
}

#experience-year{
    font-size: 4rem;
    font-weight: 700;
}

#experience{
    font-size: 1.5rem;
    font-weight: 500;
}
/* some fact related styles */

.fact-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.fact-card{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.fact-number{
    font-size: 2.8rem;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 10px;
}

.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    color: #727272;
    margin-top: 5px
}


/* sponsors related styles */

.sponsors-info{
    width: 540px;
    margin: 50px auto;
    text-align: center;
}

.sponsors-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.sponsors-companies img{
    filter: grayscale(100%);
}

.hide{
    display: none !important;
}

/* resposibe media query small device */
@media screen and (max-width:576px) {
    .banner-img, .featured-architech{
        width: 100%;
    }

    .navbar, .nav-link, .teams, .f-love-section{
        flex-direction: column;
    }

    .banner-container{
        width: 100%;
    }

    .fact-container{
        justify-items: center;
        /* gap: 24px; */
    }

    .sponsors-companies{
        justify-items: center;
        gap: 50px;
    }

    .img-container,.fact-container, .sponsors-companies{
        grid-template-columns: repeat(1, 1fr);
    }
}

/* resposibe media query middle device */

@media screen and (min-width:576px) and (max-width:992px) {
    .banner-img{
        width: 100%;
    }

    header, .bg-light{
        width: 100%;
        }
}