
.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  /* font-style: normal; */
}

/* shared styles */

.display-flex{
    display: flex;
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary{
    background-color: #FF900E;
    padding: 20px 24px;
    font-size: 1.25rem;
    color: white;
    border: none;
    border-radius: 8px;
    margin-top: 30px;
    cursor: pointer;
}

main{
    max-width: 1260px;
    margin: 0 auto;
}

/* dark-1 */
.text-black{
    color: #131313;
}

/* dark-2 */
.text-gray{
    color: #424242;
}

/* dark-3 */
.text-light-gray{
    color: #727272;
}
/* navbar related styles */

.brand{
    font-size: 2.8rem;
    font-weight: bold;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.nav-item{
    list-style: none;
}

.nav-link{
    text-decoration: none;
    margin-right: 30px;
}

.navbar, .banner{
    max-width: 1260px;
    margin: 0 auto;
}

/* banner related styles */

.banner-container{
    width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;

}

.banner-img{
    max-width: 1260px;
}

.banner-heading{
    font-size: 4rem;
    font-weight: 700;
}

.banner-details{
    font-size: 1rem;
    /* line-height: 26px; */
}

/* section teams related styles */

.teams{
    align-items: center;
}
.img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-right: 70px;
}

.features{
    max-width: 530px;
}

.feature-heading{
    font-size: 2.8rem;
    font-weight: 700;
}

#quick{
    font-weight: 500;
}

#feature{
    color: #FF900E;
}

.feature-details{
    font-size: 1rem;
    line-height: 26px;
    margin-top: 24px ;
}


/* resposibe media query small device */
@media screen and (max-width:576px) {
    .banner-img{
        width: 100%;
    }

    .navbar, .nav-link, .teams{
        flex-direction: column;
    }

    .banner-container{
        width: 100%;
    }

    .img-container{
        grid-template-columns: repeat(1, 1fr);
    }
}

/* resposibe media query middle device */

@media screen and (min-width:576px) and (max-width:992px) {
    .banner-img{
        width: 100%;
    }

    header, .bg-light{
        width: 100%;
        }
}